<ion-header>
  <ion-toolbar>
    <ion-title>{{ contact.id ? 'Edit Contact' : 'New Contact' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="contact.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Phone</ion-label>
    <ion-input [(ngModel)]="contact.phone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="contact.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Photo URL (optional)</ion-label>
    <ion-input [(ngModel)]="contact.photo"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="saveContact()">Save</ion-button>
</ion-content>
